<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <p class="copyright-text">Centro de Servicios y Gestión Empresarial<br>
          Unidad de Servicios Tecnológicos UST<br>
          Dirección: Cra. 57 #51-83 <br> La Candelaria, Medellín, Antioquia <br>
          ©Sena 2023

        </p>
      </div>
      <div style="text-align: center; user-select: none;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div>
          <a href="https://www.instagram.com/senacomunica/?hl=es-la" target="_blank" rel="noopener noreferrer">
            <img class="instagram" src="../../../assets/img/Redes/instagram.png">
          </a>
          <a href="https://web.facebook.com/SENA/?_rdc=1&_rdr" target="_blank" rel="noopener noreferrer">
            <img class="facebook" src="../../../assets/img/Redes/facebook.png">
          </a>
          <a href="https://twitter.com/SENAComunica" target="_blank" rel="noopener noreferrer">
            <img class="twitter" src="../../../assets/img/Redes/twitter.png">
          </a>
          <a href="https://www.youtube.com/channel/UCt5y885UFplu2okY39TBwCg" target="_blank" rel="noopener noreferrer">
            <img class="youtube" src="../../../assets/img/Redes/youtube.png"
              style="margin-left: 4px; margin-right: 4px;">
          </a>
          <a href="https://co.linkedin.com/school/servicio-nacional-de-aprendizaje-sena-/" target="_blank"
            rel="noopener noreferrer">
            <img class="linkedin" src="../../../assets/img/Redes/linkedin.png"
              style="margin-left: 4px; margin-right: 4px;">
          </a>
          <span style="user-select: text;">
            <a class="senalink" href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank"
              rel="noopener noreferrer">www.sena.edu.co</a>
          </span>
        </div>

        <span class="tex">&#64;SENAComunica</span>
      </div>

    </div>
  </div>
</footer>