.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.400rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: white;
  --mdc-dialog-subhead-color: rgba(0, 0, 0, .87);
  --mdc-dialog-supporting-text-color: rgba(0, 0, 0, .6);
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

#formContent[_ngcontent-ng-c3648698889] {
  border-radius: 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: center;
  padding: 0;
  box-shadow: 0 30px 60px #0000004d;
  text-align: center;
}

.btn-color{
  color:white;
}