<mat-toolbar class="nav" color="primary">
  <div class="logo-container">
    <div class="">
      <img src="../../../assets/img/logo-sena-blanco.png" alt="Logo" class="logo">
    </div>
  </div>
  <span class="sra">IBERO</span>
  <ng-container>
    <button mat-button (click)="login()">
      <span class="color-span">Iniciar sesión</span>
    </button>
  </ng-container>
</mat-toolbar>

<br><br><br><br><br><br>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <h1>¡Bienvenido al Sistema IBERO!</h1>
            <br><br>
            <p>El Sistema Registro Académico IBERO ha sido 
              desarrollado con el propósito de simplificar la labor 
              compleja de programar tutores virtuales y asignar 
              programas de pregrado y posgrado de manera eficiente. 
              Este aplicativo interactivo está diseñado para facilitar 
              la gestión académica, ofreciendo una plataforma que optimiza
              y agiliza las tareas asociadas con la programación
              y asignación de recursos. Con IBERO, se busca mejorar 
              la eficiencia en la gestión académica, proporcionando 
              a los usuarios una herramienta intuitiva y práctica para 
              llevar a cabo estas tareas de manera efectiva.</p>
            <button class="btn-acceder" mat-button (click)="login()">Acceder</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <img class="img-cesge" src="../../../assets/img/CESGE.jpg">
        </div>
    </div>
    <br><br><br><br>
    <div class="row">
        <div class="col">
            <table>
                <td>El aplicativo IBERO consta de ocho apartados esenciales para la gestión
                  educativa: "Tutores", "Saber", 
                  "Materia", "Programa", "Programación", "Información de la
                   Programación de los Tutores", "Cambiar Contraseña" y "Cerrar 
                   Sesión". Estos apartados abarcan desde la creación de perfiles de 
                   tutores hasta la planificación detallada de clases y actividades,
                    garantizando la seguridad y eficiencia en la gestión de la formación.
                </td>
            </table>
        </div>
    </div>
</div>